
<ul>
<div class="ui list">
  <%=@user.name %>
 <% @reservations.each do |reservation| %>
    <div class="item">
      <div class="header">Resort name</div>
      <li> <%=reservation.resort.name %>
    </div>
    <div class="item">  
      <div class="header">Stay length</div>
      <%=reservation.length %>
    </div>
    <div class="item">
      <div class="header">Party size</div>
      <%=reservation.party_size %></li>
    </div>
   <% end %>
</div>
</ul>

