<h1 class="ui blue header">Reservations</h1>
<div class="ui items">

 <div class="ui list">
  <div class="item">
   <h3><i class="user icon"></i></i><%=@user.name %></h3>
  </div><br>
   <% @reservations.each do |reservation| %>
    <div class="item">
      <div class="header">Resort name:
      <%=link_to reservation.resort.name, reservation_path(reservation) %></div>
    </div>
    <div class="item">  
      <div class="header">Stay length: <%=reservation.length%> days </div>
    </div>
    <div class="item">
      <div class="header">Party size: <%=reservation.party_size %> people </div><br>
    </div>
   <% end %>
</div>


